@import 'tailwindcss';

:root {
  --text-color: #33d;
}

@font-face {
  font-family: Moonscape;
  src: url('/fonts/Moonscape.otf') format('opentype');
}

@font-face {
  font-family: Transcity;
  src: url('/fonts/Transcity.otf') format('opentype');
}

@font-face {
  font-family: Typewriter;
  src: url('/fonts/atwriter.ttf') format('truetype');
}

body {
  background-color: #111;
  font-variant-ligatures: none;
  font-feature-settings: 'liga' 0;

  min-height: 100vh;
  width: 33%;
  margin-left: auto;
  margin-right: auto;

  color: var(--text-color);

  overflow-y: scroll;
  overflow-x: hidden;
}

*::selection {
  background: var(--text-color);
  color: #111;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background: var(--text-color);
}

a:not(.intext), li {
  font-size: var(--text-2xl);
}

small {
  font-size: var(--text-lg);
}

h2, h3, h4, h5, h6, a:not(.intext), small {
  font-family: Typewriter, sans-serif;
}

p {
  font-family: 'Georgia', serif;
  font-size: var(--text-lg);
  line-height: var(--tw-leading, var(--text-lg--line-height));

  text-align: justify;
}

.intext {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  text-decoration-color: var(--text-color);

  transition: text-decoration-style 0.2s;
}

.intext:hover {
  text-decoration-style: wavy;
}

h1 {
  font-family: Moonscape, serif;
  text-transform: uppercase;
  font-size: var(--text-9xl);
  line-height: var(--tw-leading, var(--text-9xl--line-height));
}

nav li {
  width: 100%;
  padding: 0.375em 0;
}

nav a::before{
  content: '';
  flex: 1;
  background-repeat: space no-repeat;
  background-image: radial-gradient(circle,var(--text-color) 20%,transparent 21%);
  background-size: .6em .6em;
  background-position: 0 80%;
  order: 2;
}

nav a::after {
  content: counters(counter, '.');
  order: 3;
  padding-left: 0.25em;
}

nav a {
  display: flex;
  flex: 1;
}

nav ol {
  counter-reset: counter;
}

nav li {
  counter-increment: counter;
}

.filter-text-color {
  filter: invert(16%) sepia(92%) saturate(5716%) hue-rotate(245deg) brightness(88%) contrast(97%);
}

#socials li {
  transition: transform 0.2s;
}

#socials li:hover {
  transform: scale(1.1) rotate(5deg);
}
